.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70vh;
    text-align: center;
}

.code {
    font-size: 6rem;
    color: hsl(var(--pk-secondary));
    line-height: 1;
}

.message {
    margin-bottom: 2rem;
    color: hsl(var(--pk-text));
}

.link {
    padding: 0.8rem 1.5rem;
    background: hsl(var(--pk-primary));
    color: white;
    border-radius: var(--radius-md);
    font-weight: bold;
}